
.maincontent {
	background-color:#FFFFFF;
	width:84%;
	padding:20px;
}

#rcorners4 {
    border-radius: 3px 3px 3px 3px;
    background: #cccccc;}
    
.titleblock {
	width:84%;
	background-color: #FFFFFF;
}

ul.a {list-style-type: circle;}

.gradient{-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);}
