
.maincontent {
	background-color:#FFFFFF;
	width:84%;
	border:10px solid #cccccc;
	padding: 20px;
}

.mainblock {
	max-width:1920px;
	margin:none;
	background-color:#cccccc;
	padding: 20px;
}


#rcorners4 {
    border-radius: 3px 3px 3px 3px;
    background: #cccccc;
    padding: 20px;
}
.titleblock {
	width:84%;
	border:10px solid #cccccc;
	background-color: #FFFFFF;
	padding: 20px;
}
