
.maincontent {
	background-color:#FFFFFF;
	width:84%;
	border:10px solid #cccccc;
	padding: 0px;
}

.mainblock {
	max-width:1920px;
	margin:none;
	background-color:#cccccc;
	padding: 20px;
}


#rcorners4 {
    border-radius: 3px 3px 3px 3px;
    background: #cccccc;
    padding: 20px;
}
.titleblock {
	width:84%;
	border:10px solid #cccccc;
	background-color: #FFFFFF;
	padding: 0px;
}


ul.a {list-style-type: circle;}


.gradient {
    border-width: 7px 7px 7px 0;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%; 
    -o-border-image:
      -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;     
}
